<a href="https://colab.research.google.com/github/LetRastaManLead/4100E241/blob/main/Copy_of_Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Clarence Del Prado
4100E241

In [2]:
def sum(i1, i2, i3):
    result = 0
    for i in range(i1, i2, i3):
        result += i
    return result

def main():
    print("Sum from 15 to 24", sum(15, 25, 5))
    print("Sum from 30 to 69", sum(30, 70, 4))
    print("sum from 10 to 59", sum(10, 60, 3))

main() # Call the main function

Sum from 15 to 24 35
Sum from 30 to 69 480
sum from 10 to 59 578

In [3]:
15+20

35

In [4]:
30+34+38+42+46+50+54+58+62+66

480

In [5]:
10+13+16+19+22+25+28+31+34+37+40+43+46+49+52+55+58

578

In [15]:
def swap(k,b):
  k,b = b,k
  return (k,b)

if __name__ == '__main__':
    k = 67
    b = 76
    print('k = %d,b = %d' % (k,b))
    k,b = swap (k, b)
    print('k = %d,b = %d' % (k,b))

k = 67,b = 76
k = 76,b = 67

In [32]:
def sort(numberx, numbery, numberz):
    if numberx < numbery < numberz:
        return numberx, numbery, numberz
    else:
        return numberz, numbery, numberx

numx, numy, numz = sort(2, 9, 29)

print("num1 is", numx)
print("num2 is", numy)
print("num3 is", numz)

num1 is 2
num2 is 9
num3 is 29

In [33]:
def sort(number1, number2, number3):
    if (number1 < number2) and (number1 < number3):
      if number2 < number3:
        return number1, number2,number3
      else:
        return number1, number3,number2
    if (number2 < number1) and (number2 < number3):
      if number1 < number3:
        return number2, number1,number3
      else:
        return number2, number3,number1
    if (number3 < number1) and (number3 < number2):
      if number1 < number2:
        return number3, number1, number2
      else:
        return number3, number2, number1

num1, num2, num3 = sort(23,24,33)

print("num1 is", num3)
print("num2 is", num2)
print("num3 is", num1)

num1 is 33
num2 is 24
num3 is 23

In [36]:
def printArea(width = 23, height = 45):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

In [37]:
23*45

1035

**use default arguments**

In [38]:
printArea()

width: 23 	height: 45 	area: 1035

**use keyboard arguments**

In [39]:
printArea(width = 23, height = 45)

width: 23 	height: 45 	area: 1035

In [40]:
printArea(height = 45, width = 23)

width: 23 	height: 45 	area: 1035

**use positional argument**

In [41]:
printArea(23,45)

width: 23 	height: 45 	area: 1035

In [42]:
printArea(45,23)

width: 45 	height: 23 	area: 1035

**Lambda**

In [43]:
f1 = lambda l, b, j: l+6*b+23*j
print(f1(6,23,24))

696

In [45]:
def myfunc(n):
  return n*n

my_list = [23, 24, 30, 32, 34]

print(list(map(lambda x:myfunc(x), my_list)))

[529, 576, 900, 1024, 1156]